# csv files
**.csv

# cache data
.ipynb_checkpoints/
.RData
.Rhistory

# zip file
archive*

# project proposal files
*Proposal*

# plot folder
plots/

# pdf files
**.pdf

# powerpoint presentations
**.pptx

# jupyter-notebook file
**.ipynb